 .team-title{
    color: #9C6625;
    font-size: 100px;
    text-align: center;
    font-family: creepster;
  }
  .team-text{
    color: #9c6625;
    font-family: creepster;
    font-size: 30px;
  }
  .Team .cardo{
    position: relative;
  }
  
  .Team .cardo .face{
    width:250px;
    height: 200px;
    transition:.4s;
    
  }
  
  .Team .cardo .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .Team .cardo:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
     
  }
  
  
  .Team .cardo .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
  }
  
  .Team .cardo:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .Team .cardo .face .face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
    
  
  }
  .Team .cardo .face.face2{
     position: relative;
     background: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }
  
  .Team .cardo:hover .face.face2{
      transform: translateY(0);
  }
.team-image{
  width:100%;
  object-fit: cover;
}